<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>Sample Web Application</display-name>

    <filter>
        <filter-name>guestUserFilter</filter-name>
        <filter-class>com.musala.javacourse181112.servlet.GuestUserFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>guestUserFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!--
        Filters
    -->
    <filter>
        <filter-name>populateLibraryFilter</filter-name>
        <filter-class>com.musala.javacourse181112.servlet.PopulateLibraryFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>populateLibraryFilter</filter-name>
        <url-pattern>/person*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>populateBookFilter</filter-name>
        <filter-class>com.musala.javacourse181112.servlet.PopulateBookFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>populateBookFilter</filter-name>
        <url-pattern>/person*</url-pattern>
    </filter-mapping>


    <servlet>
        <servlet-name>helloWorldServlet</servlet-name>
        <servlet-class>com.musala.javacourse181112.servlet.HelloWorldServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>helloWorldServlet</servlet-name>
        <url-pattern>/hello-world</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>personListServlet</servlet-name>
        <servlet-class>com.musala.javacourse181112.servlet.PersonListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>personListServlet</servlet-name>
        <url-pattern>/person-list</url-pattern>
    </servlet-mapping>



</web-app>